.logo {
  color: $accent-color;
  font-family: "Raleway", "sana-serif";

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  margin-right: 93px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


  &:hover {
  color: $secondary-text-color;
}
}



.logo__span {
  color: $secondary-text-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


  &:hover {
  color: $accent-color;
}
}



